# ─── CORE ───
node_modules/
.env

# ─── FRONTEND ───
frontend/node_modules/
frontend/dist/

# ─── BACKEND ───
backend/node_modules/

# ─── C++ SOLVER ───
backend/solver/tsp
backend/solver/*.o
backend/solver/*.exe
backend/solver/*.out

# ─── SYSTEM & LOGS ───
*.log
npm-debug.log*
.DS_Store
dist/